@using Agil.Services
@using Microsoft.AspNetCore.Identity
@using Agil.Models
@using System.Diagnostics.CodeAnalysis
@inject WebsiteHandler _websiteHandler
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@model List<Agil.Models.Message>
@{
    var receivedMessages = Model;
}

<div class="text-center mt-5 title-color mb-5">
    <h2 class="display-5">Inkommna meddelanden
    </h2>
</div>
@if (_signInManager.IsSignedIn(User))
{
    @foreach (var r in receivedMessages)
    {
        <div class="card mb-3 mx-auto w-50 text-center" style="border-radius: 15px;">
            <div class="card-body">
                <h5 class="form-control shadow-none">Titel: @r.ItemInQuestion.Title</h5>
                <p class="form-control shadow-none">Meddelande: @r.Body</p>
                <p class="form-control shadow-none"><small class="text-muted">Från: @r.FromUser.UserName</small></p>
                <button style="border-radius: 15px" class="nav-link link-secondary me-auto d-inline-block border btn-color">Svara</button>
                </div>
        </div>
    }
    @if(receivedMessages.Count == 0)
    {
        <div class="text-center title-color mb-5">
            <h4 class="lead">Du har inga meddelanden</h4>
        </div>
    }
}
else
{
    <div class="text-center mt-4">
        <h3>Du måste logga in för att se meddelanden</h3>
        <a type="button" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </div>
}
    
