html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  //margin-bottom: 60px;
}

.Baby-Blue {
    background-color: #BFD7ED;
}

.Blue-Grotto {
    background-color: #60A3D9;
}

.Royal-Blue {
    background-color: #0074B7;
}

.Navy-Blue {
    background-color: #003B73;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.spacer {
    margin-bottom: 300px; /* how high is your footer */
    
}
ul {
    list-style: none;
}