@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var databaseItems = await _websiteHandler.GetItemsDatabase();
}

<body>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/IMG/köpochsälj.jpg" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/IMG/köpochsälj.jpg" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/IMG/köpochsälj.jpg" class="d-block w-90" alt="...">
        </div>
    </div>

@foreach (var x in databaseItems)
{
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h1>@x.Title</h1>
            <p>@x.Description</p>
            <p>@x.Price</p>
            <p>@x.User</p>
        </div>
    </div>
}

</body>
