@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <h1>Katagorier</h1>
</div>
<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Sök</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <h5 class="card-title">Sök</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
