@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <img src="/IMG/köpochsälj.jpg" alt="Köp&Sälj" style="width:1500px;height:600px;"/>
</div>
