@page
@model LoginModel

<div class="card mb-3 mx-auto w-50"style="border-radius: 15px; background-color: white">
    <div class="row g-0">
        <section class="text-center">
            <form id="account" method="post">
                <h2 style="margin: 5%">Logga in</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="width: 50%; margin: auto">
                    <input  asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="width: 50%; margin: auto">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                    <label asp-for="Input.Password" class="form-label">Lösenord</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" style="margin: 2%;">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button style="border-radius: 15px;" id="login-submit" type="submit" class="nav-link link-secondary me-auto d-inline-block border btn-color">Logga in</button>
                </div>
                <div>
                    <a style="margin: 5%; border-radius: 15px; font-size: small; width: 170px" class="nav-link link-secondary me-auto d-inline-block border btn-color" id="forgot-password" asp-page="./ForgotPassword">Glömt lösenord?</a>
                    <a style="margin: 5%; border-radius: 15px; font-size: small; width: 170px" class="nav-link link-secondary me-auto d-inline-block border btn-color" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registera ny användare</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
