@page
@model RegisterModel
<div class="card mb-3 mx-auto w-50"style="border-radius: 15px; background-color: white">
    <div class="row g-0">
        <section class="text-center">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 style="margin: 5%">Registrera dig</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="width: 50%; margin: auto">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="width: 50%; margin: auto">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password">Lösenord</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating" style="width: 50%; margin: auto">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <button style="border-radius: 15px; margin: 5%" id="registerSubmit" type="submit" class="btn btn-primary">Logga in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
