@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Agil.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject IWebHostEnvironment _environment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Andreas köp & sälj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agil.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body style="background-color: #BFD7ED;">
<header>
    <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 bg-light">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-1">
                    <a asp-controller="" asp-action=""><i  class="bi bi-envelope-fill h2 title-color nav-link"></i></a>
                </div>
                <div class="col-md-4 align-self-center">
                    <div class="row">
                        <div class="nav-item col">
                            <a class="btn btn-color rounded-pill" asp-controller="Home" asp-action="Items">Annonser</a>
                        </div>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <div class="nav-item col">
                                <a class="btn btn-color rounded-pill" asp-page="/Home/AddItem"><i class="bi bi-plus-circle"></i> Skapa annons</a>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item col">
                                <a class="btn btn-color rounded-pill" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-plus-circle"></i> Skapa annons</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-center">
                    <a class="fw-bold title-color text-decoration-none fs-4" asp-area="" asp-page="/Index">Andreas köp & sälj</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-md-4">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <div class="row align-items-center h-100">
                            <div class="nav-item col">
                                <a class="nav-link title-color" asp-controller="" asp-action="">Mina Bevakningar</a>
                            </div>
                            <div class="nav-item col">
                                <a class="nav-link title-color" asp-controller="Home" asp-action="Saved">Sparade Annonser</a>
                            </div>
                            <div class="nav-item col">
                                <a class="nav-link title-color" asp-controller="Home" asp-action="MyPostedAdvertisement">Mina Annonser</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-1">
                    <div>
                        <partial name="_LoginPartial"/>
                    </div>
                    @if (_environment.IsDevelopment())
                    {
                        <div class="nav-item navbar-nav">
                            <a class="btn btn-warning" asp-page="/ResetDb">Återställ databasen</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>