@using Microsoft.AspNetCore.Identity
@using Agil.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav justify-content-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})">
                <button id="logout" type="submit" class="btn btn-link fw-bold title-color text-decoration-none">Logga ut</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <div class="nav-item mx-1 col">
                <a class="title-color text-decoration-none fw-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Registera</a>
            </div>
            <div class="nav-item mx-1 col">
                <a class="title-color text-decoration-none fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
            </div>
        </li>
    }
</ul>

