@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Agil.Pages.Website.AddItemModel
@{
}

<form class="w-50 mx-auto border mt-4 mb-4 p-3" method="post">
    <div class="form-group">
        <label asp-for="Item.Title">Title</label>
        <input asp-for="Item.Title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
        <label asp-for="Item.Description">Description</label>
        <textarea asp-for="Item.Description" type="text" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Item.Category">Category</label>
        <input asp-for="Item.Category" type="text" class="form-control" placeholder="Category">
    </div>
    <div class="form-group">
        <label asp-for="Item.Place">Place</label>
        <input asp-for="Item.Place" type="text" class="form-control" placeholder="Place">
    </div>
    <div class="form-group">
        <label asp-for="Item.Price">Price</label>
        <input asp-for="Item.Price" type="text" class="form-control" placeholder="Price">
    </div>
    <button type="submit" class="btn btn-secondary mt-2">Submit</button>
</form>