@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Agil.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@model Agil.Pages.Website.AddItemModel
@{
}

@if (_signInManager.IsSignedIn(User))
{
    <form class="w-50 mx-auto border mt-4 mb-4 p-3" style="border-radius: 15px; background-color: white" method="post">
        <div class="form-group">
            <label asp-for="Item.Title">Titel</label>
            <input asp-for="Item.Title" type="text" class="form-control shadow-none border-secondary" placeholder="Titel">
        </div>
        <div class="form-group">
            <label asp-for="Item.Description">Beskrivning</label>
            <textarea asp-for="Item.Description" type="text" class="form-control shadow-none border-secondary" placeholder="Beskrivning"></textarea>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Item.Category">Kategori</label>
                <select asp-for="Item.Category" class="form-select shadow-none border-secondary">
                    <option selected>Välj...</option>
                    <option>Jobb</option>
                    <option>Fordon</option>
                    <option>För hemmet</option>
                    <option>Bostad</option>
                    <option>Personligt</option>
                    <option>Elektronik</option>
                    <option>Fritid & hobby</option>
                    <option>Affärsverksamhet</option>
                    <option>Övrigt</option>
                </select>
            </div>
            <div class="col">
                <label asp-for="Item.Place">Plats</label>
                <select asp-for="Item.Place" class="form-select shadow-none border-secondary">
                    <option selected>Välj...</option>
                    <option>Svealand</option>
                    <option>Götaland</option>
                    <option>Norrland</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Item.Price">Pris</label>
            <input asp-for="Item.Price" type="text" class="form-control shadow-none border-secondary" placeholder="Pris">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2" style="border-radius: 15px;">Lägg upp annons</button>
        </div>
        
    </form> 
}
else
{
    <div class="text-center mt-4">
        <h3>Du måste logga in för att lägga upp en annons!</h3>
        <a type="button" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </div>
}