@page
@model Agil.Pages.Home.EditModel

@{
    ViewData["Title"] = "Redigera Annons";

}

<h1>Redigera Annons</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Title" class="control-label">Titel</label>
                <input asp-for="Item.Title" class="form-control" />
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label">Beskrivning</label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Category">Kategori</label>
                <select asp-for="Item.Category" class="form-select shadow-none border-secondary">
                    <option selected>Välj...</option>
                    <option>Jobb</option>
                    <option>Fordon</option>
                    <option>För hemmet</option>
                    <option>Bostad</option>
                    <option>Personligt</option>
                    <option>Elektronik</option>
                    <option>Fritid & hobby</option>
                    <option>Affärsverksamhet</option>
                    <option>Övrigt</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label">Pris</label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Place">Plats</label>
                <select asp-for="Item.Place" class="form-select shadow-none border-secondary">
                    <option selected>Välj...</option>
                    <option>Svealand</option>
                    <option>Götaland</option>
                    <option>Norrland</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="nav-link link-secondary me-auto d-inline-block border btn-color" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="MyPostedAdvertisement">Mina Annonser</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
