@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> _signInManager
@using Microsoft.AspNetCore.Identity
@using Agil.Models
@model Agil.Pages.Home.SendMessageModel
@inject UserManager<User> _userManager
@{
    var user = _userManager.GetUserName(User);
}
<div class="text-center mt-5 title-color mb-5">
    <h2 class="display-5">Skicka meddelande</h2>
</div>
@if (_signInManager.IsSignedIn(User))
{
    <form class="w-50 mx-auto border mt-4 mb-4 p-3" style="border-radius: 15px; background-color: white" method="post">
        <div class="form-group">
            <p>@Model.Item.Title</p>
        </div>
        <div class="form-group">
            <label asp-for="Message.Body">Skriv ditt meddelande här...</label>
            <textarea asp-for="Message.Body" type="text" class="form-control shadow-none border-secondary" placeholder="Skriv ditt meddelande här..."  required></textarea>
        </div>
        <div class="form-group">
            <p>Till @Model.Item.User.UserName</p>
        </div>
        <div class="text-center">
            <button type="submit" class="nav-link link-secondary me-auto d-inline-block border btn-color" style="margin-top: 10px; border-radius: 15px;">Skicka</button>
        </div>
    </form> 
}
else
{
    <div class="text-center mt-4">
        <h3>Du måste logga in för att kunna skicka ett meddelande!</h3>
        <a type="button" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </div>
}