@page
@model Agil.Pages.Home.BevakningarModel
@{
}
<div class="card mb-3 mx-auto w-50 text-center" style="border-radius: 15px; width: 500px">
<img src="https://www.protectioncivile67.fr/wp-content/uploads/2017/07/Travaux-300x251.jpg" class="card-img-left" alt="Bild på det som säljes/köpes" style="border-radius: 15px; margin: auto; width: 50%; height: auto;">
<h2>Denna sida är under konstruktion</h2>
<p>Välkommen att prova igen en annan dag</p>
</div>